<p>Dear {{ customerName }},</p>
<p>Thank you for using our beauty salon management system.<br>
How was your treatment with {{salonName}} {{manipulatorName}}?</p>
<p>We would appreciate it if you could leave a review about your experience - what you liked and what could be improved.</p>
<p>
    <a href="{{ url }}">{{ url }}</a>
</p>
<p>If you have any questions or concerns, please contact our support team.</p>
<p>※If you cannot tap the URL, please copy and paste it into your browser.</p>
<p>※This is a delivery-only email.</p>